<!DOCTYPE html>
<html>

<head>
  <title>JET Programme USA</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
    <script type="text/javascript" src="js/languages.js" defer></script>
    </head>

<body>
  <div id="main">

    <header>
	  <div id="strapline">
          <div id="welcome">
	       <h1>AeroTEC</h1>
	           <div id="welcome_slogan">
	               <h3>AEROSPACE TESTING, ENGINEERING, AND CERTIFICATION</h3>
	       </div><!--close welcome-->
	    </div><!--close welcome_slogan-->
      </div><!--close strapline-->
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="about.html">Testing</a></li>
            <li><a href="testimonials.html">Engineering</a></li>
            <li><a href="faq.html">Products</a></li>
            <li><a href="contact.html">Contact Us</a></li>

          </ul>
        </div><!--close menubar-->
      </nav>
    </header>

    <div id="slideshow_container">
	  <div class="slideshow">
	    <ul class="slideshow">
         <li class="show"><img width="940" height="250" src="images/home.jpg" alt="Plane in Hangar" /></li>
          <li><img width="940" height="250" src="images/logo.jpg" alt="Logo" /></li>
        </ul>
	  </div><!--close slideshow-->
	</div><!--close slideshow_container-->

	<div id="site_content">

	  <div class="sidebar_container">
		<div class="sidebar">
             <div class="sidebar_item">
                 <span id="languageMenu"></span>
            </div>
          <div class="sidebar_item">
            <h2>Welcome to AeroTEC</h2>
            <p>If you’ve ever thought there has to be a better way to certify an aircraft or modification, you’re right. Product development doesn’t have to be slow or painful. And with AeroTEC, it isn’t.</p>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Latest Updates</h2>
            <h3>September 2016</h3>
            <p>Mitsubishi’s first MRJ plane reaches Moses Lake testing site</p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>July 2014</h3>
            <p>Moses Lake to be test site for Mitsubishi Aircraft regional jet</p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->
          <div class="sidebar">
          <div class="sidebar_item">
            <h3>June 2014</h3>
            <p>Mitsubishi Aircraft announces flight test center in Moses Lake</p>
		  </div><!--close sidebar_item-->
        </div><!--close sidebar-->
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Contact</h2>
            <p>Phone: +1.206.763.6087</p>
            <p>Email: <a href="mailto:info@aerotec.com">info@aerotec.com</a></p>
          </div><!--close sidebar_item-->
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->

    <div id="content">
      {{ content }}
    </div><!--close content-->
	</div><!--close site_content-->

    <footer>
	  <a href="index.html">Home</a> | <a href="about.html">Testing</a> | <a href="testimonials.html">Engineering</a> | <a href="faq.html">Products</a> | <a href="contact.html">Contact</a><br/><br/>
	  <a href="http://fotogrph.com">Images</a> |  <a href="http://www.heartinternet.co.uk/vps/">Virtual Server</a>  | website template by <a href="http://www.freehtml5templates.co.uk">Free HTML5 Templates</a>
    </footer>

  </div><!--close main-->

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>


</body>
</html>
