<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">

<head>
  <title>ARaynorDesign Template</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/image_slide.js"></script>
  <script type="text/javascript" src="../js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="../js/jquery.sooperfish.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
<script type="text/javascript" src="../js/aerotec.js" defer></script></head>

<body><span id="languagespan"></span>
  <div id="main">
	<div id="dark_container">
	  <div id="banner">
	    <div id="welcome">
	      <h1>AeroTEC</h1>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h1>航空宇宙テスティング、エンジニアリング、および認証</h1>
	    </div><!--close welcome_slogan-->
        <div id="slideshow">  
		  <ul class="slideshow">
            <li class="show"><img width="600" height="250" src="../images/logo.png" alt="&quot;テスト|エンジニアリング|認定&quot;" /></li>
            <li><img width="940" height="250" src="../images/home.jpg" alt="&quot;テスト|エンジニアリング|認定&quot;" /></li>
          </ul> 
	    </div><!--close slideshow-->	  
	  </div><!--close banner-->	
	</div><!--close dark_container-->

	<div id="menu_container">
	  <div id="menubar">
        <ul class="sf-menu" id="nav">
          <li class="selected"><a href="index.html">会社ホーム</a></li>
          <li><a href="ourwork.html">テスト</a>
		    <ul>
		      <li><a href="#">フライトテスト実行</a></li>
		      <li><a href="#">プログラム管理</a></li>
			  <li><a href="#">認定試験</a></li>
			</ul>
		  </li>			
          <li><a href="testimonials.html">エンジニアリング</a>
			<ul>
			  <li><a href="#">フライトテストサポート</a></li>
		      <li><a href="#">フライトサイエンツ</a></li>
			  <li><a href="#">デザインエンジニアリング</a>
			    <ul>
			      <li><a href="#">More Drop Down 1</a></li>
			  	  <li><a href="#">More Drop Down 2</a></li>
				  <li><a href="#">More Drop Down 3</a></li>
				</ul>
			  </li>
			</ul>
		  </li>			
          <li><a href="projects.html">製品</a></li>
          <li><a href="contact.html">連絡</a></li>
        </ul>
      </div><!--close menubar-->	
	</div><!--close menu_container-->	
    
	<div id="site_content">		

	  <div class="sidebar_container">  
<div class="sidebar">
          <div class="sidebar_item">
            <h2>言語:</h2>
            <ul>
                <li><a href="../index.html">English</a></li>
            <li>日本語</li>
                </ul>
                </div><!--close sidebar_item--> 
        </div><!--close sidebar-->        
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>AeroTECへようこそ</h2>
            <p>飛行機や改造を証明する良い方法がなければならないと思ったことがあれば、そうです。製品開発は遅くても苦痛である必要はありません。そしてAeroTECではそうではありません。</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>最新のアップデート</h2>
            <h3>2016年9月</h3>
            <p>三菱自動車初のMRJ飛行機がモーゼス湖試験場に到着</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>2014年7月</h3>
            <p>モーゼス湖は三菱航空機の地域ジェットの試験場になる</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  
		<div class="sidebar">
          <div class="sidebar_item">
            <h3>2014年6月</h3>
            <p>三菱航空機、モーゼス湖の飛行試験センターを発表</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  		
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>連絡</h2>
            <p>電話: +1.206.763.6087</p>
            <p>メール: <a href="mailto:info@aerotec.com">info@aerotec.com</a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->     	 
	 
	  
  
  <div id="footer_container">
    <div id="footer">
	  <a href="http://validator.w3.org/check?uri=referer">Valid XHTML</a> | <a href="http://fotogrph.com/">Images</a> | website template by <a href="http://www.araynordesign.co.uk">ARaynorDesign</a>
    </div><!--close footer-->  
  </div><!--close footer_container-->  
  
</body>
</html>
