<!DOCTYPE html>
<html>

<head>
  <title>Fall 2017 Website Localization Project</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/2017WebLocProject/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
  <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="/2017WebLocProject/js/modernizr-1.5.min.js"></script>
    <script type="text/javascript" src="/2017WebLocProject/js/languages.js" defer></script>
    </head>

<body>
  <div id="main">

  <header>
	  <div id="strapline">
	    <div id="welcome_slogan">
	      <h3>JET Programme - The Experience of a Lifetime</h3>
	    </div><!--close welcome_slogan-->
    </div><!--close strapline-->
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li {% if page.url == "index.html" %}class="current"{% endif %}><a href="index.html">{{ site.data.lang[page.lang].home }}</a></li>
            <li {% if page.url == "about.html" %}class="current"{% endif %}><a href="about.html">{{ site.data.lang[page.lang].about }}</a></li>
            <li {% if page.url == "testimonials.html" %}class="current"{% endif %}><a href="testimonials.html">{{ site.data.lang[page.lang].testimonials }}</a></li>
            <li {% if page.url == "faq.html" %}class="current"{% endif %}><a href="faq.html">{{ site.data.lang[page.lang].faq }}</a></li>
            <li {% if page.url == "contact.html" %}class="current"{% endif %}><a href="contact.html">{{ site.data.lang[page.lang].contact }}</a></li>
          </ul>
            <a href="/2017WebLocProject/{{ page.ref }}">English</a>
            <a href="/2017WebLocProject/jp/{{ page.ref }}">日本語</a>
      </div><!--close menubar-->
    </nav>
  </header>

  <div id="slideshow_container">
	  <div class="slideshow">
	    <ul class="slideshow">
         <li class="show"><img width="940" height="250" src="/2017WebLocProject/images/home_1.jpg" alt="Children in Gosen" /></li>
          <li><img width="940" height="250" src="/2017WebLocProject/images/home_2.jpg" alt="A Day in the Life of an ALT" /></li>
        </ul>
	  </div><!--close slideshow-->
	</div><!--close slideshow_container-->

  <div id="site_content">
    <div class="sidebar_container">
      <div class="sidebar_item">
        <h2>About JET</h2>
        <p>{{ site.data.lang[page.lang].aboutsummary }}</p>
      </div><!--close sidebar_item-->
      <div class="sidebar_item">
        <h2>Latest Update</h2>
        <h3>September 2017</h3>
        <p>The application for the 2018 JET Program is now open!</p>
  		</div><!--close sidebar_item-->
      <div class="sidebar_item">
        <h3>August 2017</h3>
        <p>Welcome back all returning JET Programme participants!</p>
      </div><!--close sidebar_item-->
      <div class="sidebar_item">
        <h2>Contact</h2>
        <p>(202)238-6772/6773</p>
        <p>Email: <a href="mailto:jetprogram@ws.mofa.go.jp">jetprogram@ws.mofa.go.jp</a></p>
      </div><!--close sidebar_item-->
    </div><!--close sidebar_container-->

    <div id="content">
        {{ content }}
    </div><!--close content-->
  </div><!--close site_content-->

<footer>
  <a href="index.html">Home</a> | <a href="about.html">About the JET Programme</a> | <a href="testimonials.html">Testimonials</a> | <a href="faq.html">FAQ</a> | <a href="contact.html">Contact</a><br/><br/>
  <a href="http://fotogrph.com">Images</a> |  <a href="http://www.heartinternet.co.uk/vps/">Virtual Server</a>  | website template by <a href="http://www.freehtml5templates.co.uk">Free HTML5 Templates</a>
</footer>

  </div><!--close main-->

  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="/2017WebLocProject/js/jquery.min.js"></script>
  <script type="text/javascript" src="/2017WebLocProject/js/image_slide.js"></script>


</body>
</html>
